<%- include('./shared/head-panel.ejs')%>
<div class="container-fluid login_fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="account_section signup">
                    <h4 class="headding text-center"> Register </h4>
                    <form action="javascript:;" class="mt-4 login_inner" id="mainForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="input-name" placeholder="Full Name" name="name">
                            <input type="hidden" name="ref" value="">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="input-email" placeholder="Email ID" name="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="input-mobile" placeholder="Contact Number" name="phone">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="Referel" placeholder="Referel Code" name="referelCode">
                        </div>
                        <div class="radios">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="child" id="inlineRadio1" value="left">
                                <label class="form-check-label" for="inlineRadio1">Left</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="child" id="inlineRadio2" value="right">
                                <label class="form-check-label" for="inlineRadio2">Right</label>
                              </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block ">Register </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include('./shared/script.ejs')%>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>

    $("form#mainForm").validate({
            normalizer: function (value) {
                return $.trim(value);
            },
            rules: {
                name: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true,
                },
                referelCode: {
                    required: true
                },
                child: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "Name is required",
                },
                email: {
                    required: "Email is required",
                    email: "Email is not valid"
                },
                phone: {
                    required: "Mobile is required",
                },
                referelCode: {
                    required: "Referel Code is required",
                },
                child: {
                    required: "This field is required"
                }
            },
            submitHandler: function (form) {
                $('.submitBtn').prop('disabled', true)
                $.ajax({
                    url: "/addregister",
                    data: $(form).serialize(),
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        var {
                            status,
                            message,
                            errors,
                            mobile,
                            referel
                        } = data;
                        errors = typeof errors != 'undefined' ? errors : []
                        message = typeof message != 'undefined' ? message : null
    
                        if (status == true) {
                            setTimeout(function () {
                                window.location.href = '/?id='+referel
                                $('.submitBtn').prop('disabled', false)
                            }, 1000)
                        } else {
                            if (errors.length > 0) {
                                toastr["error"](errors[0]);
                            } else if (message) {
                                toastr["error"](message);
                            }
                        }
                        $('.submitBtn').prop('disabled', false)
                    },
                    error: function (error) {
                        $('.submitBtn').prop('disabled', false)
                    }
                });
                return false;
            }
        });
    
    </script>
